$main: (
    mrg:100px,
    mrg-tp:100px,
    pdng:100px 0px,

);
$header: (
    hgt: 500px,
    backg-img: url(../imagenes/motocicletas-mas-importantes-por-paises.jpg),
    backg-sz: cover,
    );

$body: (
    font-s: 30px,
    clr: rgb(255, 255, 255),
    list-sty: none,
    text-deco: none
)
