$pdd1:3px;
$pdd2:6px;
$pdd3:10px;
$ppd4:20px;
$pdd5:200px;

$bkg:black;
$bgkfondo:linear-gradient(180deg, rgba(0,0,3,1) 0%, rgba(97,0,9,1) 14%, rgba(126,1,26,1) 50%, rgba(97,0,9,1) 86%, rgba(0,0,0,1) 100%);
$bkg-nv: rgb(167, 7, 7);
$bkg-img:none;

$clr:red;
$clr-a:white;

$hgt-ini:initial;
$hgtotal:100%;
$wdt:100%;

$none:none;
$init:initial;
$text-dh:dotted;
$text-sz-adj:100px;

$font-f-frm: Arial, Helvetica, sans-serif;
$font-wh:bold;

$trans:0,8s;
$over-x:hidden;


