@media screen and (max-width:576px) {
    body{
        @include margenes (none, 2px 0.5px);
        margin-top: $pdd1;
        height: $init;
    }
    header{
        @include margenes (none, 25px);
        height: $hgtotal;
        background-image: $none;
    }
    main{
        @include margenes(10px,15px);
    }
    .img-mias{
        @include estilo(rgb(0, 0, 0),none,1px solid rgb(120, 4, 4));
        @include margenes(1.5px 2px, 8px);
    }

    footer{
        padding: $ppd4;
    }
}